// Variable overrides
//----------------------material ui-----------------
.app-header .dropdown-item {
    min-width: 0 !important;
}

.MuiAvatar-root {
    height: 50px !important;
    width: 50px !important;
}

.smallCheck {
    font-size: 12px !important;
    color: #333 !important;
    margin-left: -5px !important;
}

.error_input {
    float: right;
    font-size: 12px;
    margin-top: -45px;
    margin-right: 10px;
    color: red;
}

.error_input_sm {
    float: right;
    font-size: 12px;
    margin-top: -25px;
    margin-right: 10px;
    color: red;
}
//----------------------header-----------------------
.header-fixed .app-header {
    background-color: #ffffff !important;
}

.app-header .navbar-toggler-icon {
    // background-image: url('/assets/img/toggle.png') !important;
    margin-top: 3px !important;
}

.img-avatar{
    margin: 0 15px !important;
}

.name-bar{
    text-transform: capitalize !important;
}
//----------------------sidebar----------------------
.sidebar .sidebar-minimizer {
    flex: 0 0 30px !important;
}

.sidebar .sidebar-minimizer::before {
    height: 33px !important;
    background-size: 16px !important;
    background-image: url('/assets/img/left_arrow.png') !important;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    height: 33px !important;
}

.scrollbar-container {
    background-color: #262626 !important;
}
//-----------------------footer-----------------------
.app-footer {
    flex: 0 0 30px !important;
}

[class^="icon-"], [class*=" icon-"] {
    top: -2px !important;
}
//-----------------------content----------------------
legend {
    width: auto !important;
}

.breadcrumb {
    margin-bottom: 15px !important;
    background-color: #202020 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff !important;
}

.breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb-item.active {
    color: #fff !important;
}

.button-breadcrumb {
    float: right;
    margin-top: -50px;
}

.button-breadcrumb i {
    color: #eaddd6;
    cursor: pointer;
    margin-right: 25px;
}

.item-top {
    font-size: 28px;
    min-width: 70px !important;
    border-left: 1px solid #262626;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.main .container-fluid {
    padding: 0 15px !important;
}

.textCpr{
    font-size: 12px !important;
    color: #333 !important;
}

.card-body-nopad {
    padding: 0 !important;
}

.card {
    margin-bottom: 10px !important;
}

.img-card {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    right: 0;
    margin-right: 15px;
    margin-top: -50px;
}

.reactdrop {
    float: left;    
}

.controlreactdrop {
    border: none !important;
    padding: 0px 35px 0 10px !important;
}

.Dropdown-arrow {
    margin-top: -5px !important;
}

.separator-card {
    float: left;
    margin-left: 15px;
}

.button-card {
    margin-top: 155px !important;
    float: right !important;
    padding: 2px 6px !important;
    border-radius: 2 !important;
}

.button-card2 {
    margin-top: 15px !important;
    float: right !important;
    padding: 2px 6px !important;
    border-radius: 2 !important;
}

.titleText {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
}

.left-area {
    width: 50%;
    float: left
}

.leftText {
    float: left;
    // width: 80px;
    font-size: 12px;
}

.leftText i { 
    margin-right: 8px;
}

.leftTextBig {
    float: left;
    width: 120px;
    font-size: 12px;
}

.leftText2 {
    float: left;
    width: 100%;
    font-size: 12px;
}

.rightText {
    float: left;
    font-size: 12px;
}

.buttonTable {
    margin-left: 15px !important;
    float: left !important;
}

.buttonTable .btn-brand {
    margin-right: 5px;
}

button:focus {outline:none !important;}

.clear-both {
    clear: both !important;
}

.card-header-filter {
    padding: 4px 20px !important;
}

.scroll {
    width: 100%;
    height: 430px;
    display: flex;
    overflow-x: auto;
}

.scroll-title {
    // padding: 20px !important;
    font-weight: 700;
}
  
.scroll-item {
    width: 1200px;
    flex-shrink: 0;
    margin: 0;
}

.custable{
    border: 1px solid #c8ced3;
}

.custable th, .custable td{
    border: 1px solid #c8ced3;
    width: 45px;
}

.col-hidden { 
    display: none !important;
}

.mr5px {
    margin-right: 5px !important;
}

.mt10px {
    margin-top: 10px !important;
}

.filterPage{
    width: 100%;
    margin-bottom: 10px;
}

table caption {
    padding-top: 0 !important;
    caption-side: top !important;
}

.table th, .table td {
    padding: 4px 10px 4px 10px !important;
    font-size: 12px !important;
}

.table td .form-control {
    padding: 0px 5px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    height: auto !important;
    border: none !important;
}

.react-bs-table-bordered {
    border-radius: 0 !important;
}

//--------- MAP-------------
.leaflet-popup-content {
    margin: 20px -2px !important;
    width: 280px;
}

.contentMap {
    margin-top: -10px;
    margin-left: 10px;
    height: 484px;
}

.leaflet {
    height: 434px;
    width: 354px;
    border: 1px solid rgba(32,168,216, 1);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.leafletTop {
    // position: absolute;
    border: 1px solid rgba(32,168,216, 1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    width: 354px;
    background-color: white;
    padding: 8px;
    line-height: 20px;
}

.leaflet-container {
    position: absolute;
    z-index: 0;
    height: 430px;
    width: 350px;
}

.leaflet-div-icon {
    border: none !important;
    background-color: transparent !important;
}

//---------siteplan---------
.contentSiteplan {
    margin-top: -10px;
    margin-left: 10px;
}

.titleAnn {
    text-align: left;
    font-size: 0.875rem;
    background-color: white;
    padding: 8.5px;
    border: 1px solid #20A8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.img-plan{
    border: 1px solid #20A8D8;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

//---------right---------
.contentRight {
    margin-top: -10px;
    margin-left: 10px;
    width: calc(100% - 748px);
    height: 474px;
}

.card-header {
    background-color: white !important;
    padding: 7.5px !important;
    font-size: 0.875rem;
    font-weight: bold;
}

.form-control {
    font-size: 12px !important;
    line-height: 12px !important;
    height: 20px !important;
    box-shadow: none !important;
}
// .react-bs-table-container {
//     margin-top: 15px !important;
// }

.react-bs-table-tool-bar {
    margin-bottom: 15px !important;
}

td .btn {
    padding: 2px 7px !important;
    font-size: 12px !important;
    line-height: 1rem !important;
}

td .btn i {
    font-size: 12px !important;
    margin: -5px !important;
    line-height: 1rem !important;
}

.react-bs-table-container .react-bs-table-search-form .input-group-btn .react-bs-table-search-clear-btn{
    padding: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-size: 12px !important;
}

.react-bs-table-container .react-bs-table-search-form .form-control{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.react-bs-table-container .react-bs-table-search-form .input-group-btn .react-bs-table-search-clear-btn:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.react-bs-table-csv-btn {
    margin-left: 15px !important;
}

.react-bs-table-sizePerPage-dropdown .btn {
    margin-left: 15px !important;
    font-size: 12px !important;
    padding: 4px 10px !important;
    background-color: #fcfcfc !important;
    float: left !important;
    margin-bottom: 15px !important;
}

.react-bootstrap-table-page-btns-ul {
    margin-right: 15px !important;
}

.react-bootstrap-table-page-btns-ul .page-link {
    padding: 4px 10px !important;
    font-size: 12px !important;
}

.react-bootstrap-table-page-btns-ul .page-link:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.pagTextTotal {
    float: right !important;
    font-size: 12px !important;
}

.center-block {
    display: table;
    margin: auto;
}

.imgTable {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    border: 1px solid #9acd32 !important;
}

.imgModal {
    width: 265px !important;
    height: 265px !important;
}

.spliter {
    height: 430px !important;
    margin-top: 50px !important;
}

.pointer {
    cursor: pointer !important;
}
//----------------font------------------
.fc555 {
    color: #555 !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs12 {
    font-size: 12px !important;
}

//---------------form-------------------
.comForm {
    width: 100% !important;
}

.comForm .MuiFormControl-root {
    width: 100% !important;
    margin-top: 10px !important;
}

.comForm .MuiInputLabel-root {
    font-size: 14px !important;
}

.comForm .wdInput {
    width: 100% !important;
    font-size: 12px !important;
}

.comForm .MuiFormControlLabel-labelPlacementStart {
    margin: 25px 0 0 !important;
    color: #7e7e7e !important;
}

.comForm .PrivateSwitchBase-root-72  {
    padding: 0 9px !important;
}

.btnFormSubmit {
    width: 100% !important;
    margin-top: 30px !important;
    font-size: 12px !important;
    line-height: 30px !important;
}

.btnFormSubmit i {
    margin-top: 2px !important;
    margin-right: 3px !important;
}

//---------------sweetalert2------------
.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 12px !important;
    color: #fcfcfc !important;
    font-weight: normal !important;
}

.swal2-styled.swal2-cancel {
    font-size: 12px !important;
    color: #fcfcfc !important;
    font-weight: normal !important;
}